In [3]:
import numpy as np
import pandas as pd
import matplotlib

In [4]:
df = pd.read_csv('new/full.csv')
df.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,propertyCode,thumbnail,externalReference,numPhotos,floor,price,...,has3DTour,has360,hasStaging,highlight,superTopHighlight,topNewDevelopment,index,neighborhood,labels,newDevelopmentFinished
0,0,0.0,0.0,0,100610812,https://img3.idealista.com/blur/WEB_LISTING/0/...,5644,48,bj,335000.0,...,False,False,True,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN,NaN
1,1,1.0,1.0,1,101766825,https://img3.idealista.com/blur/WEB_LISTING/0/...,ACP1219A,57,2,1650000.0,...,False,True,True,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN,NaN
2,2,2.0,2.0,2,98058039,https://img3.idealista.com/blur/WEB_LISTING/0/...,W-02OZM3,26,NaN,770000.0,...,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN,NaN
3,3,3.0,3.0,3,102450094,https://img3.idealista.com/blur/WEB_LISTING/0/...,nm00895,36,1,175000.0,...,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN,NaN
4,4,4.0,4.0,4,100528636,https://img3.idealista.com/blur/WEB_LISTING/0/...,3385-04514,46,2,280000.0,...,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN,NaN

In [66]:
df.columns

Index(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0',
       'propertyCode', 'thumbnail', 'externalReference', 'numPhotos', 'floor',
       'price', 'propertyType', 'operation', 'size', 'exterior', 'rooms',
       'bathrooms', 'address', 'province', 'municipality', 'district',
       'country', 'latitude', 'longitude', 'showAddress', 'url', 'distance',
       'description', 'hasVideo', 'status', 'newDevelopment', 'hasLift',
       'parkingSpace', 'priceByArea', 'detailedType', 'suggestedTexts',
       'hasPlan', 'has3DTour', 'has360', 'hasStaging', 'highlight',
       'superTopHighlight', 'topNewDevelopment', 'index', 'neighborhood',
       'labels', 'newDevelopmentFinished'],
      dtype='object')

In [67]:
df = df[['numPhotos', 'price', 'propertyType', 'size', 'exterior', 'rooms',
       'bathrooms', 'address', 'province', 'municipality', 'latitude', 'longitude',
       'status', 'newDevelopment', 'hasLift','parkingSpace', 'priceByArea', 'detailedType', 'suggestedTexts',
       'hasPlan', 'has3DTour', 'has360', 'hasStaging', 'highlight', 'neighborhood']]
df.head()

,numPhotos,price,propertyType,size,exterior,rooms,bathrooms,address,province,municipality,...,parkingSpace,priceByArea,detailedType,suggestedTexts,hasPlan,has3DTour,has360,hasStaging,highlight,neighborhood
0,48,335000.0,flat,136.0,True,3,2,SIGRID,Madrid,Rivas-Vaciamadrid,...,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",2463.0,{'typology': 'flat'},"{'subtitle': 'Rivas Centro, Rivas-Vaciamadrid'...",True,False,False,True,{'groupDescription': 'Destacado'},NaN
1,57,1650000.0,flat,179.0,True,2,3,Calle del PrÃ­ncipe de Vergara,Madrid,Madrid,...,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",9218.0,{'typology': 'flat'},"{'subtitle': 'Lista, Madrid', 'title': 'Piso e...",True,False,True,True,{'groupDescription': 'Destacado'},NaN
2,26,770000.0,flat,109.0,True,2,2,barrio Ibiza,Madrid,Madrid,...,NaN,7064.0,{'typology': 'flat'},"{'subtitle': 'Ibiza, Madrid', 'title': 'Piso'}",False,False,False,False,{'groupDescription': 'Destacado'},NaN
3,36,175000.0,flat,49.0,True,1,1,"Calle de los Morales, 10",Madrid,Madrid,...,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",3571.0,{'typology': 'flat'},"{'subtitle': 'Pau de Carabanchel, Madrid', 'ti...",True,False,False,False,{'groupDescription': 'Destacado'},NaN
4,46,280000.0,flat,121.0,True,4,2,Calle del RÃ­o Ulla,Madrid,Madrid,...,NaN,2314.0,{'typology': 'flat'},"{'subtitle': 'Pueblo Nuevo, Madrid', 'title': ...",True,False,False,False,{'groupDescription': 'Destacado'},NaN

In [68]:
list(df.columns)

['numPhotos',
 'price',
 'propertyType',
 'size',
 'exterior',
 'rooms',
 'bathrooms',
 'address',
 'province',
 'municipality',
 'latitude',
 'longitude',
 'status',
 'newDevelopment',
 'hasLift',
 'parkingSpace',
 'priceByArea',
 'detailedType',
 'suggestedTexts',
 'hasPlan',
 'has3DTour',
 'has360',
 'hasStaging',
 'highlight',
 'neighborhood']

# Treatment of Missing Values

In [69]:
df.isna().sum()

numPhotos            0
price                0
propertyType         0
size                 0
exterior          1948
rooms                0
bathrooms            0
address              0
province             0
municipality         0
latitude             0
longitude            0
status               0
newDevelopment       0
hasLift           1777
parkingSpace      3992
priceByArea          0
detailedType         0
suggestedTexts       0
hasPlan              0
has3DTour            0
has360               0
hasStaging           0
highlight         3980
neighborhood      3396
dtype: int64

### Variable: Exterior

In [54]:
# is this a valid assumption (exterior.NaN = False)
df['exterior'] = df['exterior'].fillna(False)

### Variable: hasLift

In [55]:
# is this a valid assumption (hasLift.NaN = False)
df['hasLift'] = df['hasLift'].fillna(False)

In [ ]:
df['hasParkingSpace'] = np.where(