In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_df.csv')
df.shape

(6515, 22)

In [4]:
df = df.drop('Unnamed: 0', axis = 1)
df

,price,propertyType,size,exterior,rooms,bathrooms,address,province,municipality,latitude,...,status,newDevelopment,hasLift,priceByArea,hasParkingSpace,isParkingSpaceIncludedInPrice,parkingSpacePrice,groupDescription,typology,subTypology
0,335000.0,flat,136.0,True,3,2,SIGRID,Madrid,Rivas-Vaciamadrid,40.352160,...,good,False,True,2463.0,True,True,NaN,Destacado,flat,standardFlat
1,1650000.0,flat,179.0,True,2,3,Calle del Príncipe de Vergara,Madrid,Madrid,40.433593,...,good,False,True,9218.0,True,True,NaN,Destacado,flat,standardFlat
2,770000.0,flat,109.0,True,2,2,barrio Ibiza,Madrid,Madrid,40.416551,...,good,False,True,7064.0,False,False,NaN,Destacado,flat,standardFlat
3,175000.0,flat,49.0,True,1,1,"Calle de los Morales, 10",Madrid,Madrid,40.361994,...,good,False,True,3571.0,True,False,25000.0,Destacado,flat,standardFlat
4,280000.0,flat,121.0,True,4,2,Calle del Río Ulla,Madrid,Madrid,40.432982,...,good,False,False,2314.0,False,False,NaN,Destacado,flat,standardFlat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6510,2500000.0,flat,341.0,True,4,2,barrio Castellana,Madrid,Madrid,40.433505,...,good,False,True,7331.0,False,False,NaN,NaN,flat,standardFlat
6511,79000.0,flat,66.0,True,1,1,Calle de José Gutiérrez Maroto,Madrid,Madrid,40.362047,...,good,False,True,1197.0,True,True,NaN,NaN,flat,standardFlat
6512,126800.0,chalet,159.0,False,3,3,Calle del Pintor Álvaro Delgado,Madrid,Olmeda de las Fuentes,40.369379,...,good,False,False,797.0,True,True,NaN,NaN,chalet,terracedHouse
6513,126100.0,chalet,150.0,False,3,2,MAYOR,Madrid,Olmeda de las Fuentes,40.371338,...,good,False,False,841.0,False,False,NaN,NaN,chalet,terracedHouse
6514,126100.0,chalet,150.0,False,3,3,MAYOR,Madrid,Olmeda de las Fuentes,40.370631,...,good,False,False,841.0,False,False,NaN,NaN,chalet,terracedHouse

In [6]:
df = df.drop_duplicates()

In [8]:
df.to_csv('cleaned_df.csv')