In [1]:
import pandas as pd
import os

In [3]:
df = pd.read_csv('new/full.csv')
df.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,propertyCode,thumbnail,externalReference,numPhotos,floor,price,...,has3DTour,has360,hasStaging,highlight,superTopHighlight,topNewDevelopment,index,neighborhood,labels,newDevelopmentFinished
0,0,0.0,0.0,0,100610812,https://img3.idealista.com/blur/WEB_LISTING/0/...,5644,48,bj,335000.0,...,False,False,True,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN,NaN
1,1,1.0,1.0,1,101766825,https://img3.idealista.com/blur/WEB_LISTING/0/...,ACP1219A,57,2,1650000.0,...,False,True,True,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN,NaN
2,2,2.0,2.0,2,98058039,https://img3.idealista.com/blur/WEB_LISTING/0/...,W-02OZM3,26,NaN,770000.0,...,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN,NaN
3,3,3.0,3.0,3,102450094,https://img3.idealista.com/blur/WEB_LISTING/0/...,nm00895,36,1,175000.0,...,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN,NaN
4,4,4.0,4.0,4,100528636,https://img3.idealista.com/blur/WEB_LISTING/0/...,3385-04514,46,2,280000.0,...,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0',
       'propertyCode', 'thumbnail', 'externalReference', 'numPhotos', 'floor',
       'price', 'propertyType', 'operation', 'size', 'exterior', 'rooms',
       'bathrooms', 'address', 'province', 'municipality', 'district',
       'country', 'latitude', 'longitude', 'showAddress', 'url', 'distance',
       'description', 'hasVideo', 'status', 'newDevelopment', 'hasLift',
       'parkingSpace', 'priceByArea', 'detailedType', 'suggestedTexts',
       'hasPlan', 'has3DTour', 'has360', 'hasStaging', 'highlight',
       'superTopHighlight', 'topNewDevelopment', 'index', 'neighborhood',
       'labels', 'newDevelopmentFinished'],
      dtype='object')

In [5]:
df = df[['propertyCode', 'thumbnail', 'externalReference', 'numPhotos', 'floor',
       'price', 'propertyType', 'operation', 'size', 'exterior', 'rooms',
       'bathrooms', 'address', 'province', 'municipality', 'district',
       'country', 'latitude', 'longitude', 'showAddress', 'url', 'distance',
       'description', 'hasVideo', 'status', 'newDevelopment', 'hasLift',
       'parkingSpace', 'priceByArea', 'detailedType', 'suggestedTexts',
       'hasPlan', 'has3DTour', 'has360', 'hasStaging', 'highlight',
       'superTopHighlight', 'topNewDevelopment', 'index', 'neighborhood',
       'labels', 'newDevelopmentFinished']]

In [7]:
df.isnull().sum()

propertyCode                 0
thumbnail                   78
externalReference         1437
numPhotos                    0
floor                     2156
price                        0
propertyType                 0
operation                    0
size                         0
exterior                  1948
rooms                        0
bathrooms                    0
address                      0
province                     0
municipality                 0
district                  1498
country                      0
latitude                     0
longitude                    0
showAddress                  0
url                          0
distance                     0
description                 10
hasVideo                     0
status                       0
newDevelopment               0
hasLift                   1777
parkingSpace              3992
priceByArea                  0
detailedType                 0
suggestedTexts               0
hasPlan                      0
has3DTour                    0
has360                       0
hasStaging                   0
highlight                 3980
superTopHighlight            0
topNewDevelopment            0
index                       50
neighborhood              3396
labels                    6032
newDevelopmentFinished    6490
dtype: int64

In [24]:
# Complete columns
df[['propertyCode', 'price', 'propertyType', 'size', 'rooms',
    'bathrooms', 'address', 'province', 'municipality', 'status',
    'newDevelopment', 'hasLift', 'priceByArea', 'detailedType',
    'hasPlan', 'topNewDevelopment']]

,propertyCode,price,propertyType,size,rooms,bathrooms,address,province,municipality,status,newDevelopment,hasLift,priceByArea,detailedType,hasPlan,topNewDevelopment
0,100610812,335000.0,flat,136.0,3,2,SIGRID,Madrid,Rivas-Vaciamadrid,good,False,True,2463.0,{'typology': 'flat'},True,False
1,101766825,1650000.0,flat,179.0,2,3,Calle del Príncipe de Vergara,Madrid,Madrid,good,False,True,9218.0,{'typology': 'flat'},True,False
2,98058039,770000.0,flat,109.0,2,2,barrio Ibiza,Madrid,Madrid,good,False,True,7064.0,{'typology': 'flat'},False,False
3,102450094,175000.0,flat,49.0,1,1,"Calle de los Morales, 10",Madrid,Madrid,good,False,True,3571.0,{'typology': 'flat'},True,False
4,100528636,280000.0,flat,121.0,4,2,Calle del Río Ulla,Madrid,Madrid,good,False,False,2314.0,{'typology': 'flat'},True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6510,101494299,2500000.0,flat,341.0,4,2,barrio Castellana,Madrid,Madrid,good,False,True,7331.0,{'typology': 'flat'},True,False
6511,102878198,79000.0,flat,66.0,1,1,Calle de José Gutiérrez Maroto,Madrid,Madrid,good,False,True,1197.0,{'typology': 'flat'},True,False
6512,97684223,126800.0,chalet,159.0,3,3,Calle del Pintor Álvaro Delgado,Madrid,Olmeda de las Fuentes,good,False,NaN,797.0,"{'typology': 'chalet', 'subTypology': 'terrace...",False,False
6513,102620357,126100.0,chalet,150.0,3,2,MAYOR,Madrid,Olmeda de las Fuentes,good,False,NaN,841.0,"{'typology': 'chalet', 'subTypology': 'terrace...",False,False
6514,100726970,126100.0,chalet,150.0,3,3,MAYOR,Madrid,Olmeda de las Fuentes,good,False,NaN,841.0,"{'typology': 'chalet', 'subTypology': 'terrace...",False,False

In [25]:
df = df[['propertyCode', 'price', 'propertyType', 'size', 'rooms',
    'bathrooms', 'address', 'province', 'municipality', 'status',
    'newDevelopment', 'hasLift', 'priceByArea', 'detailedType',
    'hasPlan', 'topNewDevelopment']]

In [27]:
df.isnull().sum()

propertyCode            0
price                   0
propertyType            0
size                    0
rooms                   0
bathrooms               0
address                 0
province                0
municipality            0
status                  0
newDevelopment          0
hasLift              1777
priceByArea             0
detailedType            0
hasPlan                 0
topNewDevelopment       0
dtype: int64